:root{
    --url: url("../components/altlink.cur");
}

*{
    cursor: var(--url), auto;
}

nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(45deg, blue,green, red); */
    background-color: #001219;
    align-items: center;
    font-size: large;
}

nav h1 {
    cursor: pointer;
    color: #fff;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
}

nav span {
    cursor: pointer;
    margin-left: 40px;
    font-size: .85rem;
    transition: 0.5s;
    font-size: 18px;
}

nav span:hover {
    color: #fff;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
    transition: 0.5s;
}

nav #MoviesLight:hover {
    color: #EE9B00;
    border-bottom: 2px solid #EE9B00;
    padding-bottom: 5px;
    transition: 0.5s;
}

span #HomeLight:hover,
#MoviesLight:hover,
#TrendingLight:hover,
#PricingLight:hover {
    border-bottom: 2px solid #ff206e;
    transition: 0.5s;
}

#navBarLight {
    background-color: #06175f;
    transition: .6s;
}

#navBarDark {
    background-color: #190000;
    transition: .6s;
}

.nav-options {
    display: flex;
    align-items: center;
}

#heading {
    color: #ff206e;
}

#navBarLight span:hover {
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

#Side-switcher {
    position: relative;
    margin-right: 40px;
    background-color: #413E44;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}

#Side-switcher-mover {
    position: absolute;
    left: 5px;
    top: 4px;
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

#Side-switcher-moved {
    position: absolute;
    background-color: #fff;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

.input-group input {
    position: relative;
    width: 323px;
    height: 4vh;
    border-radius: 16px;
    border: none;
    margin-right: 30px;
}

.input-group input[type='text'] {
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}

.input-group input::placeholder {
    color: black;
}

.input-group input:focus {
    outline: none;
}

#search {
    position: absolute;
    margin-left: 310px;
}

#searchButtonWhite,
#searchButtonBlack {
    display: none;
}


.searchBar, .disable {
    display: none;
}
@media screen and (max-width:350px){
    html{
        font-size: xx-small;
    }
    nav span {
        cursor: pointer;
        margin-left: 20px;
        font-size: .85rem;
        transition: 0.5s;
        font-size: 18px;
    }
    nav h1{
        margin-left: 1px;
    }

    nav span {
        cursor: pointer;
        margin-left: 20px;
        font-size: .85rem;
        transition: 0.5s;
        font-size: 18px;
    }

    #Side-switcher {
        position: relative;
        margin-right: 40px;
        background-color: #413E44;
        width: 40px;
        height: 20px;
        border-radius: 20px;
    }
    
    #Side-switcher-mover {
        position: absolute;
        left: 5px;
        top: 2.5px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: .6s;
    }
    
    #Side-switcher-moved {
        position: absolute;
        background-color: #fff;
        left: 20px;
        top: 2.5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: .6s;
    }

    .input-group input, .input-group #search{
        display: none;
    }

}
@media screen and (max-width:550px) and (min-width: 350px) {
    html {
        font-size: smaller;
    }

    nav h1{
        margin-left: 1px;
    }

    nav span {
        cursor: pointer;
        margin-left: 20px;
        font-size: .85rem;
        transition: 0.5s;
        font-size: 18px;
    }

    #Side-switcher {
        position: relative;
        margin-right: 40px;
        background-color: #413E44;
        width: 40px;
        height: 20px;
        border-radius: 20px;
    }
    
    #Side-switcher-mover {
        position: absolute;
        left: 5px;
        top: 2.5px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: .6s;
    }
    
    #Side-switcher-moved {
        position: absolute;
        background-color: #fff;
        left: 20px;
        top: 2.5px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        transition: .6s;
    }

    .input-group input, .input-group #search{
        display: none;
    }
}


@media screen and (max-width:700px) {
    nav {
        font-size: small;
    }
    nav span {
        cursor: pointer;
        font-size: .85rem;
        transition: 0.5s;
    }

    .input-group input {
        display: none;
    }

    #searchButtonWhite,
    #searchButtonBlack {
        cursor: pointer;
        display: block;
    }

    #searchButtonWhite {
        color: white;
    }

    .searchBar {
        display: block;
    }

    .searchBar input {
        display: block;
        position: absolute;
        left: 25%;
        width: 323px;
        height: 4vh;
        border-radius: 16px;
        border: none;
        margin-top: 5px;
    }

    #mainColor input{
        background-color: rgba(237, 243, 250, 0.585);
    }

    #secondaryColor input{
        background-color: rgba(237, 243, 250, 0.585);
    }

    .searchBar input[type='text'] {
        padding-left: 17px;
        font-size: 1rem;
        color: black;
    }

    .searchBar input::placeholder {
        color: black;
    }

    .searchBar input:focus {
        outline: none;
    }
}