body{
    overflow-x: hidden;
}
.movies-container{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mainBgColor, .mainBgColor::before, .mainBgColor::after{
    background-image: linear-gradient(
        115deg,
            rgba(9, 2, 16, 0.833),
            rgba(55, 9, 9, 0.7)
    ),
    url(../Background/DarkSide3.jpg);
    background-color:#0c1e25;
    color: red;
    width: 100%;
    transition: 0.5s;
    padding-bottom: 100%;
}
.secondaryBgColor{
    background-image: linear-gradient(
        115deg,
            rgba(9, 2, 16, 0.833),
            rgba(9, 11, 55, 0.7)
    ),
    url(../Background/Force.jpg);
    background-color: #fff;
    color: green;
    width: 100%;
    transition: 0.5s;
    padding-bottom: 100%;
}
.movies-container img{
    width: 350px;
    height: 550px;
    margin: 25px 0px 4px 15px;
    border-radius: 18px;
}
.mainColor{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
#Nothing{
    display: none;
}
.secondaryColor{
    color: #ff206e;
    width: 90%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
}
.movies-container h3, .movies-container img{
    transition: .7s;
}

.movies-container img:hover{
    transform: scale(1.05);
}
#container{
    position: relative;
}
#hide{
    display: none;
}
#smaller-Text{
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
#playIcon{
    position: absolute;
    bottom: 70px;
    left: 20px;
    visibility: visible;
    z-index: 100;
}
#Exit1{
    position: absolute;
    margin-left: 65%;
    margin-bottom: 570px;
    z-index: 999;
}
#Nothing{
    color: green;
}
#NoContainer{
    opacity: 0.35;
}
.DarkTheme{
    color:#fff;
}
.LightThemeClose{
    color: #ff206e;
}

.hide{
    display: none;
}

.video-container{
    position: fixed;
    width: 100%; height: 80%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}


@media screen and (max-width: 350px){
    .movies-container img{
        width: 250px;
        height: 450px;
        margin: 25px 0px 4px 15px;
        border-radius: 18px;
    }
}

@media screen and (max-width: 700px) {
    .mainBgColor, .mainBgColor::before, .mainBgColor::after{
        background-image: linear-gradient(
            115deg,
                rgba(9, 2, 16, 0.833),
                rgba(55, 9, 9, 0.7)
        ),
        url(../Background/DarkSide3.jpg);
        background-color:#0c1e25;
        color: red;
        width: 100%;
        transition: 0.5s;
        padding-bottom: 300%;
    }
    .secondaryBgColor{
        background-image: linear-gradient(
            115deg,
                rgba(9, 2, 16, 0.833),
                rgba(9, 11, 55, 0.7)
        ),
        url(../Background/Force.jpg);
        background-color: #fff;
        color: green;
        width: 100%;
        transition: 0.5s;
        padding-bottom: 300%;
    }
    
}