@font-face {
  font-family: "StarWars";
  src: url(../public/Fonts/Starjedi.ttf);
}

body {
  margin: 0;
  font-family: "StarWars", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
